
@{
    Layout = "/Views/Shared/a.cshtml"; ;
}

<!DOCTYPE html>
<style>
    .div1 {
       
        width: 1400px;
        float:right;
       
        
        border: 2px solid blue;
        box-sizing: border-box;
    }

    .box {
       
        float: left;
       
        width:240px;
       
    }

    body {
        background-color: #DAE3F5;
    }

</style>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="div1">
        <div style="padding-left:300px">

            <div class="box w3-container w3-large ">
                <div class="w3-blue w3-large w3-hover-shadow w3-padding-60 w3-center w3-round-medium ">
                    <p>
                        <h2>@ViewBag.message</h2>
                        <h4>@ViewBag.no</h4>

                    </p>
                    <br />
                </div>
            </div>

            <div class="box w3-container w3-large ">
                <div class="w3-red w3-large w3-hover-shadow w3-padding-60 w3-center w3-round-medium ">
                    <p>
                        <h2>@ViewBag.message</h2>
                        <h4>Pending Lab Reports</h4>

                    </p>
                    <br />
                </div>
            </div>

            <div class="box w3-container w3-large ">
                <div class="w3-yellow w3-large w3-hover-shadow w3-padding-60 w3-center w3-round-medium ">
                    <p>
                        <h2>@ViewBag.message</h2>
                        <h4>Pending Lab Reports</h4>

                    </p>
                    <br />
                </div>
            </div>

            <div class="box w3-container w3-large ">
                <div class="w3-green w3-large w3-hover-shadow w3-padding-60 w3-center w3-round-medium ">
                    <p>
                        <h2>@ViewBag.message</h2>
                        <h4>Pending Lab Reports</h4>

                    </p>
                    <br />
                </div>
            </div>

        </div>
    </div>

    
    <div style="padding-left:200px">
        <p>hjff t  t  ry</p>
    </div>






</body>
</html>



