@model Hospital.Modules.PatientManagement.Models.PatientDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/a.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PatientDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.patientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.patientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NicNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NicNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wardno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wardno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_Cin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_Cin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
