@model Hospital.Modules.Doctors_Profile.Models.LabReportRequest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/a.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LabReportRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nicNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nicNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.patientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.patientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LabStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LabStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LabType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LabType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoctorStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoctorStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.labNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.labNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialistName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
