@model IEnumerable<Hospital.Modules.Doctors_Profile.Models.LabReportRequest>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/sidemenu.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

            .active, .accordion:hover {
                background-color: #ccc;
            }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }

        /* toggle switch*/
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
</head>

<body>

    <script>

        function Call() {

            //  alert("function is calling");

            var param = document.getElementById("usr").innerHTML;
            // alert(param);

            //$.get("http://localhost:50730/LabReportRequests/Check", { a: param, })
            //    .done(function (data) {
            //        alert(data);

            //    });
            //document.getElementById("answer").value = "Johnny Bravo";

            //alertify.alert("Message");
            ////swal("Success", "New Student Was Created", "success");
            //console.log("done");

        }
        function myFunction() {
            var param = document.getElementById("usr").innerHTML;

            var x = document.getElementById("usr").value;
            $.get("http://localhost:50730/LabReportRequests/Check", { a: x, })
                .done(function (data) {
                    document.getElementById("demo").innerHTML = data;

                    alert(data);
                });
        }

        function FilterReports() {

            //  alert("A");

            $.get("http://localhost:50730/LabReportRequests/ABC")
                .done(function (data) {

                    var i = data;



                });
           

        }
    </script>


    <form class="w3-container w3-white w3-card-1">
        <h5>Filter Reports</h5>

 
        <label class="switch">
            <input type="checkbox" onchange="FilterReports()" checked>
            <span class="slider round"></span>
        </label>

    </form>


    <table class="table">
        <thead style="background-color:lightseagreen ; color:white ; font-size:17px">
            <tr style="background-color:Highlight">
                <th>
                    @Html.DisplayNameFor(model => model.ReportId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nicNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.patientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoctorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LabStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LabType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoctorStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.SpecialistName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LabReport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="background-color:powderblue;font-style:initial;text-align:center; color:royalblue;font-size:17px">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nicNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.patientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoctorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LabStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LabType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoctorStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.labNo)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LabReport)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td style="column-fill:auto">
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-file"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>





