@model Hospital.Modules.InvoiceDetails.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color:lightslategray">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h3 class="modal-title"><b style="color:darkcyan">Invoice Details</b></h3></center>
            </div>
            <div class="modal-body">
                <p>

                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(modelItem => modelItem.PatienID)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => modelItem.PatienID)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(modelItem => modelItem.Comments)
                        </dt>
                        <dd>
                            @Html.DisplayFor(modelItem => modelItem.Comments)
                        </dd>
                    </dl>
                    <table class="table">
                        <thead style="background-color:dimgray;color:white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(modelItem => modelItem.Pay_type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Total_Amount)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => modelItem.Status)
                                </th>
                            </tr>
                        </thead>
                        <tbody style="background-color:cornflowerblue;font-family:'Cambria Math'">
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Pay_type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Total_Amount)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Status)
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </p>
            </div>
            <div class="modal-footer">
                <form asp-action="Index">
                    <input type="hidden" asp-for="InvoiceID" />
                    <button type="submit" class="btn btn-primary">Close</button>
                </form>
            </div>
        </div>

    </div>
</div>
