@model IEnumerable<Hospital.Modules.Wardassign.Models.Ward>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type=text] {
        width: 130px;
        height: 30px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 15px 12px 10px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        input[type=text]:focus {
            width: 20%;
        }

</style>
<body style="background-color:lightslategray;">
 
    <h2>Ward assignments</h2>

    <p>
        <a asp-action="Create" style="float:right; color:white" class="btn btn-primary">Create New</a>
    </p>
    <form asp-controller="Wards" asp-action="Index">
        <p>
             ward number: <input type="text" name="SearchString">
          
        </p>
    </form>
    <table class="table">
        <thead style="background-color:dimgray;color:white;">
            <tr>
                <th >
                    @Html.DisplayNameFor(model => model.wardNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.empno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dateDutyOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.timeDutyOn)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="background-color:cornflowerblue;color:black">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.wardNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.empno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateDutyOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.timeDutyOn)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" style="color:white">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" style="color:white">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" style="color:white">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>