@model IEnumerable<Hospital.Modules.StaffData.Models.Staffdatas>

@{
    ViewData["Title"] = "Attendance";
}

<body style=" background-color:lightslategray">

    <h2>Attendance Details</h2>

    <form class="form-inline" asp-controller="Staffdatas" asp-action="Search">
        <div class=" form-group">
            <input type="text" name="searchString" id="",  class="form-control" placeholder="Enter Attendance ID" />
        </div>
        <button type="submit" value="Search" class="btn btn-primary"><i class=" fa fa-search"></i> Search</button>
    </form>

    <p>
        @*<a asp-action="Create">Mark attendance</a>*@
        @*<a asp-action="Create" class=" btn btn-primary">Create New</a>*@
        <a style=" float:right" asp-action="Create" class=" btn btn-primary"><i class=" fa fa-plus"></i> Add New</a>
        <link href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel=" stylesheet " />
    </p>
    <table class="table">
        <thead style=" background-color:dimgray;color:black">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Staffid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attendance)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="background-color :cornflowerblue;font-family:'Cambria Math'">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Staffid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-default btn-sm"  style=" margin-right :5px" asp-route-id="@item.Id"><i class="fa fa-pencil "></i> Edit</a>
                        <a asp-action="Details" style="color:darkblue" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" class="btn btn-danger btn-sm" style=" margin-left:5px" asp-route-id="@item.Id"><i class="fa fa-trash "></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>