@model Hospital.Modules.SalaryDetails.Model.SalaryDetail

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalaryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NIC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NIC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingHrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingHrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
